/*Utils*/
/*Les Couleurs*/
/*Ecritures*/
/*Background*/
/*Les tailles*/
@keyframes surlign {
  0% {
    transform: translateX(-50%) scaleX(0);
    opacity: 1;
  }
  50% {
    background-color: rgba(255, 142, 0, 0.63);
    transform: translateX(0%) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(50%) scaleX(0);
    opacity: 1;
  }
}
@keyframes headshake {
  25% {
    transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
  }
}
@keyframes wiggle {
  92.9% {
    transform: rotateZ(0deg);
  }
  93% {
    transform: rotateZ(-3deg);
  }
  94% {
    transform: rotateZ(3deg);
  }
  95% {
    transform: rotateZ(-3deg);
  }
  96% {
    transform: rotateZ(3deg);
  }
  97% {
    transform: rotateZ(-3deg);
  }
  99% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}
.mep_section_actu #ligne1, .mep_section_actu #ligne2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mep_section_actu #ligne1 article, .mep_section_actu #ligne2 article {
  box-shadow: -2px 2px 12px 0 grey;
  margin: 10px;
  padding: 20px;
  width: 45%;
}
@media (max-width: 770px) {
  .mep_section_actu #ligne1 article, .mep_section_actu #ligne2 article {
    width: 100%;
  }
}
.mep_section_actu #ligne1 article span, .mep_section_actu #ligne2 article span {
  font-size: 1.8em;
  border: 0.5px double black;
  border-top-left-radius: 5px;
  color: red;
  padding: 0px 5px 0px 5px;
  margin-right: 5px;
}
.mep_section_actu #ligne1 article h2, .mep_section_actu #ligne2 article h2 {
  text-align: left;
}
.mep_section_actu #ligne1 article time, .mep_section_actu #ligne2 article time {
  font-style: italic;
}
.mep_section_actu #ligne1 article img, .mep_section_actu #ligne2 article img {
  width: 400px;
  height: 200px;
  margin: 0 15px 10px 0;
  float: left;
}
@media (max-width: 770px) {
  .mep_section_actu #ligne1 article img, .mep_section_actu #ligne2 article img {
    width: 100%;
  }
}

/*Layout*/
h1 {
  font-family: Kaushan Script;
  font-size: 2.5em;
  cursor: pointer;
  color: #fa0000;
}
@media (max-width: 770px) {
  h1 {
    font-size: 1.6666666667em;
    display: flex;
    justify-content: center;
  }
}
h1 span {
  color: white;
}

h2 {
  color: rgba(255, 0, 8, 0.7);
  font-family: "Kaushan Script";
  margin: auto;
  text-decoration-line: underline;
  text-align: center;
}

h3 {
  margin: 20px 0;
  color: rgba(255, 0, 8, 0.7);
  font-family: "Kaushan Script";
  margin: 5px;
  text-decoration-line: underline;
  font-size: 2em;
}
@media (max-width: 770px) {
  h3 {
    margin-top: 0;
  }
}
@media (max-width: 770px) and (max-width: 770px) {
  h3 {
    margin-top: 0;
    font-size: 1em;
  }
}

.titre_page {
  position: relative;
  font-size: 4em;
  margin-top: -30px;
  text-decoration: none;
  text-shadow: 2px 2px 2px grey;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 770px) {
  .titre_page {
    margin-top: 0;
    font-size: 1.3333333333em;
  }
}
.titre_page::before {
  position: absolute;
  content: "";
  animation: surlign 4000ms 1000ms ease-in-out;
  width: 40%;
  height: 1.6666666667em;
  border-radius: 10% 50%;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/fd_flamme2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 770px) {
  header {
    position: unset;
  }
}
header .titre {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
}
header .titre img {
  position: absolute;
  left: -50%;
  top: -1%;
  margin: auto;
  margin: auto 30px;
  width: 150px;
  height: 150px;
  color: white;
}
@media (max-width: 770px) {
  header .titre img {
    left: 50%;
    top: 100%;
    width: 100px;
    height: 100px;
  }
}

footer {
  background: rgba(255, 142, 0, 0.63);
  margin: 50px 0 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
footer .dispositionicone {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/kaushan/kaushanscript.otf");
}
body {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(249, 252, 184, 0.35) 20%, rgba(255, 199, 143, 0.3) 65%, rgba(255, 198, 142, 0.3) 75%, rgba(255, 0, 0, 0.61) 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 12%;
  width: 100%;
}
@media (max-width: 770px) {
  body {
    padding-top: 0%;
    width: 100%;
    margin: auto;
  }
}

p {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  color: black;
}
@media (max-width: 770px) {
  p {
    font-size: 0.9230769231em;
  }
}

a {
  text-decoration: none;
  color: blue;
  margin: auto;
}
a:visited {
  color: red;
}
a:hover {
  color: red;
}

nav {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255, 142, 0, 0.63);
  padding: 10px 0;
}
@media (max-width: 770px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px 0;
  }
}
nav p {
  transition: 200ms ease-in-out;
  font-weight: 100;
  font-family: Kaushan Script;
  margin: auto;
}
@media (max-width: 770px) {
  nav p {
    margin: 0 0 0 40px;
    padding: 5px 0px;
  }
}
nav p:hover {
  padding: 2px 10px;
  background-color: white;
  font-weight: 400;
  transform: scaleX(1.5) rotateZ(-7deg);
  color: red;
  border-radius: 15px 50%;
}
nav p a {
  margin: auto;
  color: white;
}
nav p a:visited {
  color: white;
}
nav p a:hover {
  color: red;
}

aside {
  padding: 20px;
  margin: 0 20px 0 0;
  width: 220px;
  background: rgba(207, 68, 68, 0.23);
  box-shadow: -2px 2px 12px 0 grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  order: 2;
  /*dernier article aside demander un devis*/
}
aside h2 {
  font-size: 1.1333333333em;
}
aside article:nth-of-type(2) {
  flex-grow: 1;
}
aside article:nth-of-type(2) a {
  font-size: 1.2em;
  font-family: Kaushan Script;
}
aside .devis a {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wiggle 4500ms infinite;
  color: white;
}
aside .devis p {
  font-size: 1.3076923077em;
  text-shadow: 2px 2px 2px grey;
  background-color: red;
  border-radius: 10px;
  margin: auto;
  padding: 0 10px;
  box-shadow: 2px 2px 12px 2px grey;
  font-weight: bolder;
}
@media (max-width: 770px) {
  aside {
    width: 100%;
    margin: 0;
  }
}
aside p {
  font-size: 0.9em;
}

article {
  font-size: 1.2em;
}

section {
  margin: auto;
  padding: 10px 0;
}

.vignette {
  margin: 0 20px 20px 0;
  width: 400px;
  height: 200px;
  box-shadow: -2px 2px 12px 0 grey;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

form {
  font-size: 2em;
  margin: auto;
  color: #6300a0;
}

label {
  display: flex;
  justify-content: flex-start;
}

input {
  border-radius: 10px;
  outline: none;
  transition: background-color 1000ms;
  justify-content: flex-end;
}

.meschansons {
  font-family: "Kaushan Script";
  color: black;
  text-shadow: 2px 2px 2px grey;
  font-size: 0.5em;
}

input:focus {
  border: 2px solid #6300a0;
}

input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 3;
}

select {
  border: 0.5px solid black;
  border-radius: 10px;
  border-color: #6300a0;
  color: #6300a0;
}

legend {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.titre_page {
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
}

#concert {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#concert button {
  background: rgba(255, 142, 0, 0.63);
  box-shadow: -2px 2px 12px 0 grey;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 16px;
  text-transform: uppercase;
  transition: 200ms ease-in-out;
}
#concert button:hover {
  background: white;
  border: 2px solid rgba(255, 142, 0, 0.63);
  transform: scale(1.1);
}
#concert article {
  margin: auto 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 400px;
  font-family: "Kaushan Script";
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  font-size: 20px;
  box-shadow: -2px 2px 12px 0 grey;
}
@media (max-width: 770px) {
  #concert article {
    width: 100%;
    height: 100%;
    margin: 15px 10px;
  }
}
#concert article p {
  text-align: center;
}
#concert article p span {
  font-style: italic;
  font-size: 0.7058823529em;
}

/*Pages*/
.agencement_index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 770px) {
  .agencement_index {
    flex-wrap: wrap;
  }
}
.agencement_index .mep_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 1;
}
@media (max-width: 770px) {
  .agencement_index .mep_section {
    width: 100%;
  }
}
.agencement_index .mep_section #ligne1, .agencement_index .mep_section #ligne2 {
  margin: auto 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 770px) {
  .agencement_index .mep_section #ligne1, .agencement_index .mep_section #ligne2 {
    margin: auto;
  }
}
@media (max-width: 770px) {
  .agencement_index .mep_section #ligne1 article, .agencement_index .mep_section #ligne2 article {
    border-radius: 10px;
    margin: 10px;
    padding: 0 15px;
    width: 100%;
  }
}
.agencement_index .mep_section #ligne1 article h3, .agencement_index .mep_section #ligne2 article h3 {
  transition: 600ms ease-in-out;
}
.agencement_index .mep_section #ligne1 article h3:hover, .agencement_index .mep_section #ligne2 article h3:hover {
  transform: scale(1.2);
}
.agencement_index #l_asso {
  background-image: url("../images/logo_zzzikos24_flou.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.agencement_index #actu {
  background-image: url("../images/new.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.agencement_index #concert {
  background-image: url("../images/bg_concert.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.agencement_index #projet {
  background-image: url("../images/projet.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.agencement_index picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: -2px 2px 12px 0 grey;
  border-radius: 20px;
}
.agencement_index picture img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

#groupe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 770px) {
  #groupe {
    flex-wrap: wrap;
  }
}
#groupe .englobe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 20px;
  box-shadow: -2px 2px 12px 0 grey;
  border-radius: 20px;
}
@media (max-width: 770px) {
  #groupe .englobe #enbref {
    width: 100%;
  }
}
#groupe .musicien {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#groupe .musicien article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#groupe .musicien article .align_instru {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 770px) {
  #groupe .musicien article .align_instru {
    margin: 0;
  }
}
#groupe .musicien article .align_instru p {
  transition: 500ms ease-in-out;
}
#groupe .musicien article .align_instru p:hover {
  transform: scale(1.4) translateY(20px);
}
#groupe .musicien p {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 770px) {
  #groupe .musicien p {
    justify-content: center;
    align-items: normal;
    margin: 0 5px 5px 5px;
  }
}
#groupe .musicien i {
  transition: none;
  position: absolute;
  bottom: 15px;
  left: 37%;
  font-size: 1.5em;
  color: darkorange;
  border: 2px solid darkorange;
  border-radius: 100%;
  padding: 5px;
}
#groupe .musicien i.fa-microphone {
  font-size: 1.1538461538em;
  padding: 7px 12px;
}
@media (max-width: 770px) {
  #groupe .musicien i {
    font-size: 0.75em;
    bottom: 5px;
    left: 33%;
  }
}
#groupe .musicien img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid orange;
  margin: 10px 20px;
}
@media (max-width: 770px) {
  #groupe .musicien img {
    width: 80px;
    height: 80px;
    margin: auto;
  }
}
#groupe #aside_le_groupe {
  margin: 0 20px;
}
@media (max-width: 770px) {
  #groupe #aside_le_groupe {
    margin: 10px;
  }
}
#groupe #aside_le_groupe .orient_row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#groupe #aside_le_groupe .orient_row img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid orange;
  margin: 10px 20px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
@media (max-width: 770px) {
  #groupe #aside_le_groupe .orient_row img {
    width: 80px;
    height: 80px;
    margin: auto;
  }
}
#groupe #aside_le_groupe .orient_row p {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 770px) {
  #groupe #aside_le_groupe .orient_row p {
    justify-content: center;
    align-items: normal;
    margin: 0 5px 5px 5px;
  }
}
#groupe #aside_le_groupe .orient_row i {
  transition: none;
  position: absolute;
  bottom: 15px;
  left: 37%;
  font-size: 1.5em;
  color: darkorange;
  border: 2px solid darkorange;
  border-radius: 100%;
  padding: 5px;
}
#groupe #aside_le_groupe .orient_row i.fa-microphone {
  font-size: 1.1538461538em;
  padding: 7px 12px;
}
@media (max-width: 770px) {
  #groupe #aside_le_groupe .orient_row i {
    font-size: 0.75em;
    bottom: 5px;
    left: 33%;
  }
}

#projet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#projet article {
  margin: auto 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 400px;
  font-family: "Kaushan Script";
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  font-size: 20px;
  box-shadow: -2px 2px 12px 0 grey;
}
@media (max-width: 770px) {
  #projet article {
    width: 100%;
    height: 100%;
    margin: 15px 10px;
  }
}
#projet article p {
  text-align: center;
  font-size: 5em;
}
#projet article p span {
  font-style: italic;
  font-size: 0.7058823529em;
}

#photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#photo .align_vignette_photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#photo .align_vignette_photo .vignette {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  padding: 0px 0px;
  margin: 20px;
  background-color: rgba(255, 187, 102, 0.63);
}
#photo .align_vignette_photo a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
#photo .align_vignette_photo a h2 {
  font-size: 0.85em;
}
#photo .align_vignette_photo a p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-style: italic;
  font-size: 0.9230769231em;
}
#photo .align_vignette_photo a img {
  width: 400px;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
