/*Utils*/
/*Les Couleurs*/
/*Ecritures*/
/*Background*/
/*Les tailles*/
@keyframes j {
  0% {
    transform: scale(2) translateX(250%) translateY(20%) rotate(0);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateX(-380%) translateY(0%) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateX(-380%) translateY(0%) rotate(2deg);
    opacity: 0;
  }
}
@keyframes f {
  0% {
    transform: scale(2) translateX(290%) translateY(20%) rotate(0);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateX(-250%) translateY(0) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateX(-250%) translateY(0) rotate(2deg);
    opacity: 0;
  }
}
@keyframes t {
  0% {
    transform: scale(2) translateX(330%) translateY(20%) rotate(0);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateX(800%) translateY(0) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateX(800%) translateY(0) rotate(2deg);
    opacity: 0;
  }
}
@keyframes b {
  0% {
    transform: scale(2) translateX(330%) translateY(20%) rotate(0);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateX(760%) translateY(0) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateX(760%) translateY(0) rotate(2deg);
    opacity: 0;
  }
}
@keyframes bg_orange {
  0% {
    transform: scale(2) translateX(-20%) translateY(40%);
    opacity: 0;
  }
  30% {
    transform: scale(2) translateX(-20%) translateY(40%);
    opacity: 0;
  }
  70% {
    transform: scaleX(8) scaleY(8) translateX(-20%) translateY(40%);
    opacity: 1;
  }
  75% {
    transform: scaleX(8.5) scaleY(8.5) translateX(-20%) translateY(40%);
    opacity: 1;
  }
  80% {
    transform: scaleX(8) scaleY(8) translateX(-20%) translateY(40%);
    opacity: 1;
  }
  85% {
    transform: scaleX(8.5) scaleY(8.5) translateX(-20%) translateY(40%);
    opacity: 1;
  }
  100% {
    transform: scaleX(8) scaleY(8) translateX(-20%) translateY(40%);
    opacity: 0.8;
  }
}
@keyframes johnny {
  0% {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
  }
  25% {
    transform: scale(1) translateY(0) translateX(-2800%);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0) translateX(-1800%);
    opacity: 1;
  }
  60% {
    transform: scale(1) translateY(0) translateX(-800%);
    opacity: 1;
  }
  80% {
    transform: scaleX(0.5) translateY(0) translateX(35%);
    opacity: 1;
  }
  85% {
    transform: scaleX(1) translateY(0) translateX(35%);
    opacity: 1;
  }
  90% {
    transform: scaleX(0.5) translateY(0) translateX(35%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateY(0%) translateX(20%);
    opacity: 1;
  }
}
@keyframes forever {
  0% {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
  }
  25% {
    transform: scale(1) translateY(0) translateX(1800%);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0) translateX(1800%);
    opacity: 1;
  }
  60% {
    transform: scale(2) translateY(40%) translateX(-20%);
    opacity: 1;
  }
  65% {
    transform: scale(4) translateY(20%) translateX(-20%);
    opacity: 1;
  }
  70% {
    transform: scale(3) translateY(20%) translateX(-20%);
    opacity: 1;
  }
  75% {
    transform: scale(4) translateY(20%) translateX(-20%);
    opacity: 1;
  }
  100% {
    transform: scale(3) translateY(30%) translateX(-20%);
    opacity: 1;
  }
}
@keyframes tribute {
  0% {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
  }
  25% {
    transform: scale(1) translateY(0) translateX(-800%);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0) translateX(-800%);
    opacity: 0;
  }
  100% {
    transform: scale(2) translateY(75%) translateX(-140%);
    opacity: 1;
  }
}
@keyframes band {
  0% {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
  }
  25% {
    transform: scale(1) translateY(0) translateX(800%);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0) translateX(1800%);
    opacity: 0;
  }
  100% {
    transform: scale(2) translateY(75%) translateX(-110%);
    opacity: 1;
  }
}
@keyframes headshake {
  25% {
    transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
  }
}
@keyframes wiggle {
  92.9% {
    transform: rotateZ(0deg);
  }
  93% {
    transform: rotateZ(-3deg);
  }
  94% {
    transform: rotateZ(3deg);
  }
  95% {
    transform: rotateZ(-3deg);
  }
  96% {
    transform: rotateZ(3deg);
  }
  97% {
    transform: rotateZ(-3deg);
  }
  99% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}
/*Layout*/
.titre1 {
  font-family: "Kaushan Script";
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  opacity: 1;
  font-size: 300%;
  text-shadow: 4px 2px 2px yellow;
  color: black;
}

h2 {
  font-family: "Kaushan Script";
  font-size: 200%;
  cursor: pointer;
  color: #fa0000;
}
h2 span {
  color: white;
}

h3 {
  color: rgba(255, 0, 8, 0.7);
  font-family: "Kaushan Script";
  margin: 5px;
  text-decoration-line: underline;
}

header {
  position: fixed;
  top: 0;
  background-image: url("../images/fd_flamme2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
header .titre picture {
  padding: 10px 0;
  margin: auto;
}
header .titre picture img {
  margin: auto 30px;
  width: 90px;
  height: 90px;
  color: white;
}

/*.j
    {
    transform: scale(2) translateX(250%) translateY(20%)rotate(0);
    animation: j 7000ms 1000ms;
    animation-fill-mode: forwards;
    }
.f
    {
    transform: scale(2) translateX(290%) translateY(20%)rotate(0);
    animation: f 7000ms 1500ms;
    animation-fill-mode: forwards;
    }
.t
    {
    transform: scale(2) translateX(330%) translateY(20%)rotate(0);
    animation: 7000ms ease 1530ms normal none running t;
    animation-fill-mode: forwards;
    }
.b
    {
    transform: scale(2) translateX(330%) translateY(20%)rotate(0);
    animation: 7000ms ease 1025ms normal b;
    animation-fill-mode: forwards;
    }
.fond
    {
    transform: scale(0) translateX(-20%) translateY(40%);
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    animation: bg_orange 5000ms 2500ms;
    animation-fill-mode: forwards;
    position: absolute;
    }
.johnny
    {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
    animation: johnny 6000ms 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.61,.34,.32,1.36);
    }
.forever
    {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
    animation: forever 7000ms 1000ms;
    animation-fill-mode: forwards;
    }
.tribute
    {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
    animation: tribute 6000ms 1000ms;
    animation-fill-mode: forwards;
    }
.band
    {
    transform: scale(0) translateY(0) translateX(0);
    opacity: 0;
    animation: band 6000ms 1000ms;
    animation-fill-mode: forwards;
    }*/
footer {
  background: rgba(255, 142, 0, 0.63);
  margin: 50px 0 0 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
footer .dispositionicone {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

body {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(249, 252, 184, 0.35) 20%, rgba(255, 199, 143, 0.3) 65%, rgba(255, 198, 142, 0.3) 75%, rgba(255, 0, 0, 0.61) 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  padding-top: 15%;
  margin: auto;
}

p {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  color: black;
}

a {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: red;
}

nav {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255, 142, 0, 0.63);
  padding: 10px 0;
}
nav p {
  transition: 200ms ease-in-out;
  margin: auto;
  font-weight: 100;
  font-family: "Kaushan Script";
}
nav p:hover {
  padding: 2px 10px;
  background-color: white;
  font-weight: 400;
  transform: scaleX(1.5) rotateZ(-7deg);
  color: red;
  border-radius: 15px 50%;
}
nav p a {
  margin: auto;
  color: white;
}
nav p a:visited {
  color: white;
}
nav p a:hover {
  color: red;
}

aside {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 0;
  padding: 20px;
  min-width: 200px;
  max-width: 200px;
  background: rgba(207, 68, 68, 0.23);
  box-shadow: -2px 2px 12px 0 grey;
  border-radius: 20px;
}
aside p {
  font-size: 0.9em;
}

article {
  font-size: 1.2em;
  margin: 10px 0 20px 0;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0px;
  padding: 10px 0 0 10px;
}

form {
  font-size: 2em;
  margin: auto;
  color: #6300a0;
}

label {
  display: flex;
  justify-content: flex-start;
}

input {
  border-radius: 10px;
  outline: none;
  transition: background-color 1000ms;
  justify-content: flex-end;
}

.meschansons {
  font-family: "Kaushan Script";
  color: black;
  text-shadow: 2px 2px 2px grey;
  font-size: 0.5em;
}

input:focus {
  border: 2px solid #6300a0;
}

input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 3;
}

select {
  border: 0.5px solid black;
  border-radius: 10px;
  border-color: #6300a0;
  color: #6300a0;
}

legend {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.btn1 {
  height: 200px;
  width: 200px;
  font-family: "Kaushan Script";
  border-radius: 1rem;
  background-image: repeating-linear-gradient(yellow, red);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn1:hover.btn1::after {
  opacity: 1;
}

.btn1::after {
  padding: 30px;
  font-family: "Kaushan Script";
  font-size: 20px;
  content: "Perigeux le 21/06/2020 ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  background-image: url(images/fdlm.jpg);
  background-size: cover;
  opacity: 0;
  z-index: -1;
  transition: opacity 2000ms;
}

.btn2 {
  height: 200px;
  width: 200px;
  font-family: "Kaushan Script";
  font-size: 20px;
  color: #6600ED;
  border-radius: 1rem;
  background-image: repeating-linear-gradient(yellow, red);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn2:hover.btn2::after {
  opacity: 1;
}

.btn2::after {
  padding: 50px;
  font-family: "Kaushan Script";
  font-size: 20px;
  color: #6600ED;
  content: "coulaure le 15/09/2020  a partir de 21h ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  background-image: url(images/fdloie.jpg);
  background-size: cover;
  opacity: 0;
  z-index: -1;
  transition: opacity 2000ms;
}

/*Pages*/
aside p {
  color: white;
}
aside article:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wiggle 4500ms infinite;
}
aside article:last-child p {
  font-size: 1em;
  text-shadow: 2px 2px 2px 0 grey;
}
aside article:last-child a:visited {
  color: red;
}
aside article:nth-of-type(2) {
  flex-grow: 1;
}
aside a {
  font-size: 1.2em;
  font-family: "Kaushan Script";
}

section .mep_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 10px;
}
section .mep_index .mep_article_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section .mep_index .mep_article_section #ligne1, section .mep_index .mep_article_section #ligne2 {
  display: flex;
  flex-direction: row;
}
section .mep_index .mep_article_section #ligne2 {
  margin-top: 40px;
  margin-bottom: 60px;
}
section .mep_index article {
  width: 400px;
  height: 200px;
  box-shadow: -2px 2px 12px 0 grey;
  margin: auto;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .mep_index article h3 {
  transition: 600ms ease-in-out;
}
section .mep_index article h3:hover {
  transform: scale(1.2);
}
section .mep_index #l_asso {
  background-image: url("../images/logo_zzzikos24_flou.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
section .mep_index #actu {
  background-image: url("../images/new.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
section .mep_index #concert {
  background-image: url("../images/bg_concert.png");
  background-size: cover;
  background-repeat: no-repeat;
}
section .mep_index #projet {
  background-image: url("../images/projet.png");
  background-size: cover;
  background-repeat: no-repeat;
}
section .mep_index picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -2px 2px 12px 0 grey;
  border-radius: 20px;
  width: 99%;
  height: 200px;
  padding: 2px;
}
section .mep_index picture img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

#aside_le_groupe .orient_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#aside_le_groupe .orient_row img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.paraph_principal {
  padding: 0 20px 0 0;
}

/*# sourceMappingURL=style.css.map */
