@keyframes j
    {
    0%
        {
        transform: scale(2) translateX(250%) translateY(20%)rotate(0);
        opacity: 1;
        }
    80%
        {
        transform: scale(2) translateX(-380%) translateY(0%)rotate(2deg);
        opacity: 1;
        }
    100%
        {
        transform: scale(2) translateX(-380%) translateY(0%)rotate(2deg);
        opacity: 0;
        }
    }
@keyframes f
    {
    0%
        {
        transform: scale(2) translateX(290%) translateY(20%)rotate(0);
        opacity: 1;
        }
    80%
        {
        transform: scale(2) translateX(-250%) translateY(0)rotate(2deg);
        opacity: 1;
        }

    100%
        {
        transform: scale(2) translateX(-250%) translateY(0)rotate(2deg);
        opacity: 0;
        }
    }
@keyframes t
    {
    0%
        {
        transform: scale(2) translateX(330%) translateY(20%)rotate(0);
        opacity: 1;
        }
    80%
        {
        transform: scale(2) translateX(800%) translateY(0)rotate(2deg);
        opacity: 1;
        }
    100%
        {
        transform: scale(2) translateX(800%) translateY(0)rotate(2deg);
        opacity: 0;
        }
    }
@keyframes b
    {
    0%
        {
        transform: scale(2) translateX(330%) translateY(20%)rotate(0);
        opacity: 1;
        }
    80%
        {
        transform: scale(2) translateX(760%) translateY(0)rotate(2deg);
        opacity: 1;
        }
    100%
        {
        transform: scale(2) translateX(760%) translateY(0)rotate(2deg);
        opacity: 0;
        }
    }
@keyframes bg_orange {
    0% {
        transform: scale(2) translateX(-20%) translateY(40%);
        opacity: 0;
    }

    30% {
        transform: scale(2) translateX(-20%) translateY(40%);
        opacity: 0;
    }

    70% {
        transform: scaleX(8)scaleY(8) translateX(-20%) translateY(40%);
        opacity: 1;
    }

    75% {
        transform: scaleX(8.5)scaleY(8.5) translateX(-20%) translateY(40%);
        opacity: 1;
    }

    80% {
        transform: scaleX(8)scaleY(8) translateX(-20%) translateY(40%);
        opacity: 1;
    }

    85% {
        transform: scaleX(8.5)scaleY(8.5) translateX(-20%) translateY(40%);
        opacity: 1;
    }

    100% {
        transform: scaleX(8)scaleY(8) translateX(-20%) translateY(40%);
        opacity: 0.8;
    }
}
@keyframes johnny {
    0% {
        transform: scale(0) translateY(0) translateX(0);
        opacity: 0;
    }

    25% {
        transform: scale(1) translateY(0) translateX(-2800%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(0) translateX(-1800%);
        opacity: 1;
    }

    60% {
        transform: scale(1) translateY(0) translateX(-800%);
        opacity: 1;
    }

    80% {
        transform: scaleX(0.5) translateY(0) translateX(35%);
        opacity: 1;
    }

    85% {
        transform: scaleX(1) translateY(0) translateX(35%);
        opacity: 1;
    }

    90% {
        transform: scaleX(0.5) translateY(0) translateX(35%);
        opacity: 1;
    }

    100% {
        transform: scale(2) translateY(0%) translateX(20%);
        opacity: 1;
    }
}
@keyframes forever {
    0% {
        transform: scale(0) translateY(0) translateX(0);
        opacity: 0;
    }

    25% {
        transform: scale(1) translateY(0) translateX(1800%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(0) translateX(1800%);
        opacity: 1;
    }

    60% {
        transform: scale(2) translateY(40%) translateX(-20%);
        opacity: 1;
    }

    65% {
        transform: scale(4) translateY(20%) translateX(-20%);
        opacity: 1;
    }

    70% {
        transform: scale(3) translateY(20%) translateX(-20%);
        opacity: 1;
    }

    75% {
        transform: scale(4) translateY(20%) translateX(-20%);
        opacity: 1;
    }

    100% {
        transform: scale(3) translateY(30%) translateX(-20%);
        opacity: 1;
    }
}
@keyframes tribute {
    0% {
        transform: scale(0) translateY(0) translateX(0);
        opacity: 0;
    }

    25% {
        transform: scale(1) translateY(0) translateX(-800%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(0) translateX(-800%);
        opacity: 0;
    }

    100% {
        transform: scale(2) translateY(75%) translateX(-140%);
        opacity: 1;
    }
}
@keyframes band {
    0% {
        transform: scale(0) translateY(0) translateX(0);
        opacity: 0;
    }

    25% {
        transform: scale(1) translateY(0) translateX(800%);
        opacity: 0;
    }

    50% {
        transform: scale(1) translateY(0) translateX(1800%);
        opacity: 0;
    }

    100% {
        transform: scale(2) translateY(75%) translateX(-110%);
        opacity: 1;
    }
}
@keyframes headshake {
    25% {
        transform: translateX(4%);
    }

    75% {
        transform: translateX(-4%);
    }
}

@keyframes wiggle {
    92.9% {
        transform: rotateZ(0deg);
    }
    93% {
        transform: rotateZ($rotate_wiggle*-1);
    }

    94% {
        transform: rotateZ($rotate_wiggle);
    }

    95% {
        transform: rotateZ($rotate_wiggle*-1);
    }
    96% {
        transform: rotateZ($rotate_wiggle);
    }

    97% {
        transform: rotateZ($rotate_wiggle*-1);
    }

    99% {
        transform: rotateZ($rotate_wiggle);
    }

    100% {
        transform: rotateZ($rotate_wiggle*-1);
    }
}