@keyframes surlign
    {
        0% {
            transform: translateX(-50%) scaleX(0);
            opacity: 1;
        }

       
        50% {
            background-color: rgba(255, 142, 0, 0.63);
            transform: translateX(0%) scaleX(1);
            opacity: 1;
        }


        100% {
            transform: translateX(50%) scaleX(0);
            opacity: 1;
        }
    }

@keyframes headshake {
    25% {
        transform: translateX(4%);
    }

    75% {
        transform: translateX(-4%);
    }
}

@keyframes wiggle {
    92.9% {
        transform: rotateZ(0deg);
    }
    93% {
        transform: rotateZ($rotate_wiggle*-1);
    }

    94% {
        transform: rotateZ($rotate_wiggle);
    }

    95% {
        transform: rotateZ($rotate_wiggle*-1);
    }
    96% {
        transform: rotateZ($rotate_wiggle);
    }

    97% {
        transform: rotateZ($rotate_wiggle*-1);
    }

    99% {
        transform: rotateZ($rotate_wiggle);
    }

    100% {
        transform: rotateZ($rotate_wiggle*-1);
    }
}