body {
    background-image: $couleur_bg_body;
    font-family: $font_family;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    width: 95%;
}
p {
    font-size: $taille_font_p;
    font-family: $font_family;
    text-align: justify;
    color: $couleur_font_p;
}
a {
    text-decoration: none;
    color: blue;

    &:visited {
        color: red;
    }

    &:hover {
        color: red;
    }
}
nav {
    font-size: $taille_font_nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: $font_family;
    text-transform: uppercase;
    cursor: pointer;
    background: $couleur_bg_nav;
    padding: 10px 0;

    & p {
        transition: 200ms ease-in-out;
        margin: auto;
        font-weight: 100;
        font-family: $font_family_titre;

        &:hover {
            padding:2px 10px;
            background-color:white;
            font-weight:400;
            transform: scaleX(1.5) rotateZ(-7deg);
            color: red;
            border-radius:15px 50%;
        }

        & a {
            margin: auto;
            color: $couleur_font_nav;

            &:visited {
                color: $couleur_font_nav;
            }

            &:hover {
                color: red;
            }
        }
    }
}
aside
    {
    padding: 20px;
    margin: 0 20px 0 0;
    width: 220px;
    background: $couleur_bg_aside;
    box-shadow: -2px 2px 12px 0 grey;
    border-radius: 20px;
    & p {
        font-size: .9em;
        }
    }
article {
    font-size: $taille_font_p;
}
section {
    margin: auto;
    padding:10px 0;
}
