@font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/kaushan/kaushanscript.otf");
}

body {
    background-image: $couleur_bg_body;
    font-family: $font_family;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    width: 100%;
    @media(max-width:770px) {
        padding-top: 0%;
        width:100%;
        margin:auto;
    }
}
p {
    font-size: $taille_font_p;
    font-family: $font_family;
    text-align: justify;
    color: $couleur_font_p;

    @media(max-width:770px) {
        font-size: $taille_font_p/1.3;
    }
}
a {
    text-decoration: none;
    color: blue;
    margin:auto;

    &:visited {
        color: red;
    }

    &:hover {
        color: red;
    }
}
nav {
    font-size: $taille_font_nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $font_family;
    text-transform: uppercase;
    cursor: pointer;
    background: $couleur_bg_nav;
    padding: 10px 0;

    @media(max-width:770px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0px 0;
    }

    & p {
        transition: 200ms ease-in-out;
        font-weight: 100;
        font-family: $font_family_titre;
        margin: auto;

        @media(max-width:770px) {
            margin: 0 0 0 40px;
            padding: 5px 0px;
        }


        &:hover {
            padding: 2px 10px;
            background-color: white;
            font-weight: 400;
            transform: scaleX(1.5) rotateZ(-7deg);
            color: red;
            border-radius: 15px 50%;
        }

        & a {
            margin: auto;
            color: $couleur_font_nav;

            &:visited {
                color: $couleur_font_nav;
            }

            &:hover {
                color: red;
            }
        }
    }
}
aside {
    padding: 20px;
    margin: 0 20px 0 0;
    width: 220px;
    background: $couleur_bg_aside;
    box-shadow: -2px 2px 12px 0 grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    order: 2;

    & h2 {
        font-size: $taille_font_h2/1.5;
    }

    & article:nth-of-type(2) {
        flex-grow: 1;

        & a {
            font-size: 1.2em;
            font-family: $font_family_titre;
        }
    }
    /*dernier article aside demander un devis*/
    & .devis {
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            @include anim_wiggle;
            color: white;
        }

        & p {
            font-size: $taille_font_h2/1.3;
            text-shadow: 2px 2px 2px grey;
            background-color: red;
            border-radius: 10px;
            margin: auto;
            padding: 0 10px;
            box-shadow: 2px 2px 12px 2px grey;
            font-weight: bolder;
        }
    }

    @media(max-width:770px) {
        width: 100%;
        margin: 0;
    }

    & p {
        font-size: .9em;
    }
}
article {
    font-size: $taille_font_p;
}
section {
    margin: auto;
    padding:10px 0;
}
