fieldset /*Mise en page des formulaires*/ {
}

form {
    font-size: 2em;
    margin: auto;
    color: #6300a0;
}

label {
    display: flex;
    justify-content: flex-start;
}

input {
    border-radius: 10px;
    outline: none;
    transition: background-color 1000ms;
    justify-content: flex-end
}

.meschansons {
    font-family: 'Kaushan Script';
    color: black;
    text-shadow: 2px 2px 2px grey;
    font-size: .5em;
}

input:focus {
    border: 2px solid #6300a0;
}

input:not(:focus):invalid {
    background: #b20a37;
    border: 2px solid #b20a37;
    color: #fff;
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 3;
}

select {
    border: 0.5px solid black;
    border-radius: 10px;
    border-color: #6300a0;
    color: #6300a0;
}

legend {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

