.titre1
    {
    font-family: 'Kaushan Script';
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
h1
    {
    opacity: 1;
    font-size: 300%;
    text-shadow: 4px 2px 2px yellow;
    color: black;
    }
h2 {
    font-size: 200%;
    cursor: pointer;
    color: $couleur_font_h2;

    & span {
        color: white;
    }
}
h3
    {
    color: rgba(255,0,8,0.7);
    font-family: 'Kaushan Script';
    margin: 5px;
    text-decoration-line: underline;
    }
