h1 {
    font-family: $font_family_titre;
    font-size: $taille_font_h1;
    cursor: pointer;
    color: $couleur_font_h2;

    @media(max-width:770px) {
        font-size: $taille_font_h1/1.5;
        display:flex;
        justify-content:center;
    }

    & span {
        color: white;
    }
}
h2 {
    color: rgba(255,0,8,0.7);
    font-family: 'Kaushan Script';
    margin: 5px;
    text-decoration-line: underline;
    
    }
h3 {
    margin: 20px 0;
    color: rgba(255,0,8,0.7);
    font-family: 'Kaushan Script';
    margin: 5px;
    text-decoration-line: underline;
}

.titre_page {
    position: relative;
    margin-top: -30px;
    font-size: $taille_font_titrePage;
    text-decoration: none;
    text-shadow: 2px 2px 2px grey;
    width: 100%;
    display: flex;
    justify-content: center;

    @media(max-width:770px) {
        margin-top:0;
        font-size: $taille_font_titrePage/3;
    }

    &::before {
        position: absolute;
        content: "";
        animation: surlign 4000ms 1000ms ease-in-out;
        width: 40%;
        height: $taille_font_titrePage/2.4;
        border-radius: 10% 50%;
    }
}