/*.titre1
    {
    font-family: 'Kaushan Script';
    display: flex;
    flex-direction: row;
    justify-content: center;
    }*/

h1 {
    font-family: $font_family_titre;
    font-size: 200%;
    cursor: pointer;
    color: $couleur_font_h2;

    & span {
        color: white;
    }
}
h2 {
    color: rgba(255,0,8,0.7);
    font-family: 'Kaushan Script';
    margin: 5px;
    text-decoration-line: underline;
    
}
.titre_page
    {
    margin-top: -30px;
    font-size: 4em;
    text-decoration: none;
    text-shadow: 2px 2px 2px grey;
    width:100%;
    }