.pageSeConnecter {
    @media(max-width:770px) {
        width: 300px;
        flex-wrap: wrap;
    }
}
#creationCompte {
    & div {
        margin: 1em 0 5px 0;
    }

    & label {
        font-weight: bold;
    }

    & input {
    }

    & p {
        margin: auto;
        font-size: 0.5em;
        font-style: italic;
    }
}
