#fdlm {
    & .align_vignette_photo {
        & article {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            & a {
                text-align: center;

                & img {
                    @media(max-width:770px) {
                       width:100%;
                    }
                }
            }
        }
    }
}
