#fdlm {
    & .align_vignette_photo {
        & article {
            display: flex;
            flex-direction: row;
            justify-content:stretch;
            align-items: stretch;
            flex-wrap: wrap;

                & img {
                    margin:5px;
                    @media(max-width:770px) {
                        width: 100%;
                    }
                }
            }
        }
    }

