#groupe {
    & .englobe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:10px;
        margin-right:25px;
    }

    & .musicien {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & .align_instru {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                & a {
                    transition: 500ms ease-in-out;

                    &:hover {
                        transform: scale(1.4) translateY(20px);
                    }
                }
            }
        }

        & p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            border: 2px solid orange;
            margin: 10px 20px;
        }
    }
}

#aside_le_groupe {
    & .orient_row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & img {
            width: 90px;
            height:90px;
            border-radius: 100%;
        }
    }
}
