#groupe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    @media(max-width:770px) {
        flex-wrap: wrap
    }

    & .englobe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 20px;
        box-shadow: -2px 2px 12px 0 grey;
        border-radius: 20px;

        & #enbref {
            @media(max-width:770px) {
                width: 100%;
            }
        }
    }

    & .musicien {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            & .align_instru {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;

                @media(max-width:770px) {
                    margin: 0;
                }


                & p {
                    transition: 500ms ease-in-out;

                    &:hover {
                        transform: scale(1.4) translateY(20px);
                    }
                }
            }
        }

        & p {
            @include position_image_groupe_p;
        }

        & i {
            @include position_image_groupe_i;
        }

        & img {
            @include position_image_groupe_img;
        }
    }

    #aside_le_groupe {
        margin: 0 20px;

        @media(max-width:770px) {
            margin: 10px;
        }

        & .orient_row {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & img {
                @include position_image_groupe_img;
                width: 90px;
                height: 90px;
                border-radius: 100%;
            }

            & p {
                @include position_image_groupe_p;
            }

            & i {
                @include position_image_groupe_i;
            }
        }
    }
}
