#groupe {
    & .englobe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-right: 25px;
    }

    & .musicien {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & .align_instru {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                & p {
                    transition: 500ms ease-in-out;

                    &:hover {
                        transform: scale(1.4) translateY(20px);
                    }
                }
            }
        }

        & p {
            @include position_image_groupe_p;
        }

        & i {
            @include position_image_groupe_i;
        }

        & img {
            @include position_image_groupe_img;
        }
    }

    #aside_le_groupe {
        & .orient_row {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & img {
                @include position_image_groupe_img;
                width: 90px;
                height: 90px;
                border-radius: 100%;
            }

            & p {
                @include position_image_groupe_p;
            }

            & i {
                @include position_image_groupe_i;
            }
        }
    }
}
